In [1]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

In [2]:
trainData = pd.read_csv("dataset/train_features.csv")
testData = pd.read_csv("dataset/test_features.csv")
data_cols = np.array(trainData.columns)
data_cols

array(['letter_slant', 'line_slant', 'letter_size', 'margin_slope',
       'word_spacing', 'personality'], dtype=object)

In [3]:
trainData.head()

,letter_slant,line_slant,letter_size,margin_slope,word_spacing,personality
0,vertical,upperside,931.7,straight,small,Agreeableness
1,backward,lowerside,486.2,right,medium,Agreeableness
2,forward,baseline,112.8,straight,small,Agreeableness
3,forward,upperside,30.6,straight,small,Agreeableness
4,backward,baseline,152.9,straight,small,Agreeableness

In [4]:
testData.head()

,letter_slant,line_slant,letter_size,margin_slope,word_spacing,personality
0,vertical,baseline,421.2,left,small,Agreeableness
1,vertical,baseline,94.8,right,medium,Agreeableness
2,forward,baseline,1397.6,left,large,Agreeableness
3,vertical,baseline,84.2,right,large,Agreeableness
4,vertical,upperside,763.3,left,small,Agreeableness

In [5]:
k = int(input())
print("The value of k is:", k)

The value of k is: 7

In [6]:
trainData.isnull().sum()

letter_slant    0
line_slant      0
letter_size     0
margin_slope    0
word_spacing    0
personality     0
dtype: int64

In [7]:
testData.isnull().sum()

letter_slant    0
line_slant      0
letter_size     0
margin_slope    0
word_spacing    0
personality     0
dtype: int64

In [8]:
trainData = trainData.dropna(axis=0)
testData = testData.dropna(axis=0)

In [9]:
map_dict = {
    val: key
    for key, val in enumerate(trainData['letter_slant'].unique())
}
trainData['letter_slant'] = trainData['letter_slant'].map(map_dict)
testData['letter_slant'] = testData['letter_slant'].map(map_dict)

map_dict = {
    val: key
    for key, val in enumerate(trainData['line_slant'].unique())
}
trainData['line_slant'] = trainData['line_slant'].map(map_dict)
testData['line_slant'] = testData['line_slant'].map(map_dict)

map_dict = {
    val: key
    for key, val in enumerate(trainData['margin_slope'].unique())
}
trainData['margin_slope'] = trainData['margin_slope'].map(map_dict)
testData['margin_slope'] = testData['margin_slope'].map(map_dict)

map_dict = {
    val: key
    for key, val in enumerate(trainData['word_spacing'].unique())
}
trainData['word_spacing'] = trainData['word_spacing'].map(map_dict)
testData['word_spacing'] = testData['word_spacing'].map(map_dict)

In [10]:
trainData.head()

,letter_slant,line_slant,letter_size,margin_slope,word_spacing,personality
0,0,0,931.7,0,0,Agreeableness
1,1,1,486.2,1,1,Agreeableness
2,2,2,112.8,0,0,Agreeableness
3,2,0,30.6,0,0,Agreeableness
4,1,2,152.9,0,0,Agreeableness

In [11]:
testData.head()

,letter_slant,line_slant,letter_size,margin_slope,word_spacing,personality
0,0,2,421.2,2,0,Agreeableness
1,0,2,94.8,1,1,Agreeableness
2,2,2,1397.6,2,2,Agreeableness
3,0,2,84.2,1,2,Agreeableness
4,0,0,763.3,2,0,Agreeableness

In [12]:
x_train = trainData.drop('personality', axis=1)
y_train = trainData['personality']
x_test = testData.drop('personality', axis=1)
y_test = testData['personality']

In [13]:
knn = KNeighborsClassifier(n_neighbors=k)
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=7)

In [14]:
y_pred = knn.predict(x_test)
y_pred

array(['Conscientiousness', 'Agreeableness', 'Agreeableness',
       'Conscientiousness', 'Agreeableness', 'Agreeableness', 'Openness',
       'Agreeableness', 'Agreeableness', 'Agreeableness', 'Openness',
       'Openness', 'Openness', 'Conscientiousness', 'Agreeableness',
       'Openness', 'Neuroticism', 'Conscientiousness', 'Openness',
       'Conscientiousness', 'Openness', 'Conscientiousness', 'Openness',
       'Openness', 'Agreeableness', 'Openness', 'Openness',
       'Agreeableness', 'Openness', 'Openness', 'Conscientiousness',
       'Agreeableness', 'Openness', 'Openness', 'Openness', 'Openness',
       'Openness', 'Openness', 'Neuroticism', 'Openness', 'Openness',
       'Openness', 'Openness', 'Openness'], dtype=object)

In [15]:
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.45454545454545453